nav {
    font-size: 43%;
    visibility: hidden;
}

.subtitulo_cadastro {
    text-align: center;
    font-size: 135%;
    margin-bottom: 3%;
}

.subtitulo_login {
    text-align: center;
    font-size: 135%;
    margin-bottom: 3%;
}

.botao_enviar {
    background-color: #76323f;
}

.vinho {
    color: #76323f;
}

.msg:hover,
.vinho:hover {
    color: #000;
}

input[type="checkbox"] {
    visibility: hidden;
}

.botao_facebook {
	background-color: #3578E5;
	margin-right: 1.5%;
}

.botao_google {
	background-color: #D74A38;
}

.fade-in {
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
	html, body {
		background-color: #fff;
		margin: 0;
		height: 100%;
	}

    .titulo {
        color: #76323f;
        text-align: center;
        font-size: 225%;
    }
    
    .card {
        border-style: hidden;
    }
    
    .msg {
        color: #76323f;
        text-align: center;
        margin-top: 10%;
        padding-top: 5%;
        border-top: 1px solid #76323f;
        font-size: 95%;
    }
    
    #outros {
		margin-top: 7%;
    }
    
    .outros_txt {
		margin: 2.65% 2% 0 0;
	}
    
    #img1 {
        display: none;
        visibility: hidden;
    }
    
    #img2 {
        width: 20%;
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        display: block;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 768px) {
	html, body {
		background-color: #76323f;
		margin: 0;
		height: 100%;
	}

    .py-4 {
        position: relative;
    }
    
    .titulo {
        background-color: #76323f;
        color: white;
        text-align: center;
        font-size: 225%;
        margin-bottom: 3%;
    }
    
    .msg {
        color: #76323f;
        text-align: center;
        margin-top: 5%;
        padding-top: 3%;
        border-top: 1px solid #76323f;
    }
    
    #outros {
		margin-top: 5%;
    }
    
    .outros_txt {
		margin: 2.65% 2% 0 0;
	}
    
    #img1 {
        width: 20%;
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        display: block;
        margin-bottom: 3%;
    }
    
    #img2 {
        display: none;
        visibility: hidden;
    }
}
